__pycache__/
*.pyc
.clean_search_cache/
.blacklist_cache.txt
.blacklist_cache.txt.bak
.merged_blacklist.txt
.user_blacklist_urls.txt
.user_blacklist.txt
.bad_results.txt
.env
*.egg-info/
dist/
build/
